@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body{
  font-family: "Roboto", sans-serif;
}

.shape{
 clip-path: polygon(0 24%, 100% 0, 100% 100%, 0 100%);
}

@media only screen and (max-width:500px) {
  .shape{
clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 100%);
}
  
}

:root {
  --color-primary: #34C9B6;
  --color-secondary:#757373;
}