@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Roboto", sans-serif;
}

.clip {
  clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
}
.shape {
  clip-path: polygon(0 24%, 100% 0, 100% 100%, 0 100%);
}

.custom-shadow {
  box-shadow: 10px 10px 0px rgb(52 200 181), 10px -10px 0px rgb(52 200 181);
  border-radius: 0.5rem;
}

/* calendar modify */
.rdp-chevron {
  fill: #34c9b6 !important;
}

.rdp-selected .rdp-day_button {
  border: 2px solid #34c9b6 !important;
  color: #34c9b6 !important;
}

.rdp-today:not(.rdp-outside) {
  color: #34c9b6 !important;
}

@media only screen and (max-width: 500px) {
  .shape {
    clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 100%);
  }
}

:root {
  --color-primary: #34c9b6;
  --color-secondary: #757373;
  --color-accent: #f1f1f1;
}
